body {
    font-family: $main-font;
    background-color: var(--c-black);
    color: var(--c-white);
    #content {
        position: relative;
        display: flex;
        width: 100%;
        #left-side {
            width: 100%;
            #panel {
                margin-top: 30%;
                text-align: center;
                button {
                    width: 50%;
                    padding: .5rem 0;
                    font-size: 1.2rem;
                    margin-bottom: .5rem;
                    &:disabled {
                        color: var(--c-white);
                    }
                }
            }
            #details {
                width: 90%;
                margin: 2rem auto;
                background-color: transparent;
                ul {
                    background-color: transparent;
                    &.p1 {
                        .list-group-item {
                            background-color: var(--c-one);
                        }
                    }
                    &.p2 {
                        .list-group-item {
                            background-color: var(--c-two);
                        }
                    }
                }
            }
        }
        #middle-side {
            #player2-side {
                position: relative;
                text-align: center;
                margin: 1rem 0 2rem;
                h3 {
                    color: var(--c-two);
                }
                #player2-thinking {
                    width: 75%;
                    padding: 1rem;
                    border: 1px solid var(--c-white);
                    background-color: var(--c-two);
                    position: absolute;
                    text-align: center;
                    top: -150px;
                    transition: .5s;
                    left: 50%;
                    z-index: 2;
                    border-radius: 5px;
                    transform: translateX(-50%);
                    &.shown {
                        top: 65px;
                        transition: .5s;
                    }
                }
                #player2-hand {
                    width: 820px;
                    display: flex;
                    justify-content: center;
                    margin: 1rem auto 0;
                    .card {                    
                        margin: 0 .5rem;
                    }
                }
            }
            .letters {
                display: flex;
                margin: 0 auto 0.5rem 26px;
                justify-content: center;
                .letter {
                    font-size: 24px;
                    text-align: center;
                    width: 100px;
                }
            }
            .numbers {
                margin: 26px 1rem 0 0;
                .number {
                    font-size: 24px;
                    text-align: right;
                    height: 100px;
                }
            }
            #grid {
                position: relative;
                display: flex;
                margin: 0 auto;
                height: 520px;
                width: 820px;
                justify-content: center;
                #score-grid {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 820px;
                    height:520px;
                }
            }
            #player1-side {
                position: relative;
                h3 {
                    color: var(--c-one);
                }
                text-align: center;
                #player1-hand {
                    display: flex;
                    width: 820px;
                    margin: 1rem auto 0;
                    justify-content: center;
                    .card {
                        margin: 0 .5rem;
                    }
                }
                #pass {
                    position: absolute;
                    top: 300px;
                    transition: .3s;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 1rem;
                    border: 1px solid var(--c-white);
                    border-radius: .5rem;
                    background-color: var(--c-dark);
                    &.show {
                        top: 16px;
                        transition: .3s;
                    }
                }
            }
        }
        #right-side {
            width: 100%;
            .box {
                border: 1px solid transparent;
                border-radius: .5rem;
                margin-bottom: 1rem;
            }
            #time-div {
                text-align: center;
                margin: 60px 0 20px;
            }
            #now-playing {
                text-align: center;
            }
            #score  {
                margin: 50px auto 25px;
                text-align: center;
                #p1-score {
                    color: var(--c-one);
                }
                #p2-score {
                    color: var(--c-two);
                }
            }
            #messages {
               height: 250px;
               overflow-y: scroll; 
               h5 {
                text-align: center;
               }
                width: 90%;
                margin: auto;
                .message {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .small-window-msg {
        margin: 2rem auto;
        width: 80%;
        border: 2px solid var(--c-flip);
        color: var(--c-white);
        padding: 2rem 1rem;
        border-radius: 5px;
    }
}

#modal {
    .modal-content {
        h1 {
            text-align: center;
        }
        background-color: var(--c-dark);
    }
}

