body {
    overflow: hidden;
    h1 { font-size: 98px; }
    h2 { font-size: 76px; }
    h3 { font-size: 60px; }
    h4 { font-size: 48px; }
    h5 { font-size: 32px; }
    h6 { font-size: 24px; }
    p { font-size: 18px; }
}