body {
    background-color: var(--c-black);
    color: var(--c-white);
    .content {
        display: flex;
        width: 100%;
        #left-side {
            width: 100%;
        }
        #middle-side {
            #player2-side {
                text-align: center;
                margin: 1rem 0 2rem;
                #player2-hand {
                    display: flex;
                    width: fit-content;
                    margin: 1rem auto 0;
                    .card {                    
                        margin: 0 .5rem;
                    }
                }
            }
            #grid {
                display: flex;
                margin: 0 auto;
                height: 520px;
                width: fit-content;
            }
            #player1-side {
                text-align: center;
                #player1-hand {
                    display: flex;
                    width: fit-content;
                    margin: 1rem auto 0;
                    .card {
                        margin: 0 .5rem;
                    }
                }
            }
        }
        #right-side {
            width: 100%;
            #score  {
                margin: 150px auto;
                text-align: center;
            }
            #messages {
                padding: 1rem 3rem;
                .message {
                    font-size: 1.5rem;
                    text-align: center;
                    padding: 1.5rem;
                    border: 1px solid var(--c-white);
                    border-radius: 8px;
                    opacity: 0;
                    animation-name: messageFade;
                    animation-duration: 5s;
                }
            }
        }
    }

    .small-window-msg {
        margin: 2rem auto;
        width: 80%;
        border: 2px solid var(--c-flip);
        color: var(--c-white);
        padding: 2rem 1rem;
        border-radius: 5px;
    }

    #credits {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
}

@keyframes messageFade {
    0%   { opacity: 1; }
    75%  { opacity: 1; }
    100% { opacity: 0; }
}

