:root {
    --c-one : #7E67A4;
    --c-two : #5B88C4;
    --c-joker : #DE9133;
    --c-white : #ffffff;   
    --c-light-grey : #cccccc;
    --c-grey : #333333;
    --c-black : #000000;
    --c-selected : #ffda09;
    --c-selected1 : #ff0000;
    --c-selected2 : #00ff00;
    --c-selected3 : #0000ff;
    --c-selected4 : #00ffff;
    --c-dark: #151527;


}

$main-font: 'VT323', monospace;
