:root {
    --c-one : #7E67A4;
    --c-two : #5B88C4;
    --c-joker : #DE9133;
    --c-white : #ffffff;   
    --c-light-grey : #cccccc;
    --c-grey : #333333;
    --c-black : #000000;
    --c-selected : #ffda09;
    --c-selected2 : #ff4322;
}

$main-font: 'VT323', monospace;
